.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav__logo {
  width: 58px;
  height: 80px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin-top: 8px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__title {
  margin: 0;
  margin-top: 128px;
  max-width: 635px;

  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
}

.header__description {
  margin: 0;
  margin-top: 32px;
  max-width: 515px;

  font-size: 20px;
  line-height: 30px;
}

.header__image {
  max-width: 636px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
}

.staff__cards {
  max-width: 760px;
  margin: 68px auto 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;

  list-style-type: none;
  padding: 0;
}

.card {
  width: 360px;
  height: 420px;
  background-color: #ffffff;

  border-radius: 6px;
  padding: 24px;
  box-sizing: border-box;
}

.card__content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card__text {
  margin: 16px 0 0;
  font-size: 16px;
  line-height: 24px;
}

.card__footer {
  margin: 0;
  margin-top: auto;
  opacity: 0.7;

  font-size: 14px;
  line-height: 16px;
  color: #838383;
}

.staff {
  background-image: url(../images/staff_picks_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 100px 0 140px;
}

.staff__title {
  margin: 0 0 24px;
  color: #ffffff;
  text-align: center;

  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
}

.staff__subtitle {
  margin: 0 auto;
  max-width: 760px;
  color: #ffffff;
  text-align: center;

  font-size: 20px;
  line-height: 30px;
}
